/* CALCULATOR */

.calculator {
    border: 2px solid #212529;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgba(85, 84, 84, 0.158);
    letter-spacing: 1px;
}

.calculator__fieldset {
    border: 2px solid #6C757C;
    border-radius: 10px;
}

.calculator__title {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    font-size: 24px;
}

.calculator__text {
    display: inline-block;
    padding: 0 0 10px;
}

.calculator__input {
    width: 100%;
    text-align: center;
    border: 1px solid #6C757C;
    border-radius: 5px;
    letter-spacing: 1px;
}

.calculator__resultContainer {
    margin-top: 10px;
    width: 100%;
    background-color: rgba(85, 84, 84, 0.158);
    text-align: center;
    border: 2px solid #6C757C;
    border-radius: 10px;
    letter-spacing: 1px;
}